---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=a99cc60fc2b34dbb18cb806b8a88ed14&query=The%20Matrix
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2e851df796c52629877bbe18af056b6f
      X-Memc-Age:
      - '18385'
      X-Memc-Expires:
      - '4643'
      Etag:
      - W/"b24c6284589f2587c96cd0438a1b0f7b"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[35],"id":508602,"original_language":"en","original_title":"The Matrix","overview":"A
        group of friends trying to remake \"The Matrix\" in a Brooklyn apartment.","popularity":1.218,"poster_path":"/9Sr7EOhR6e1Sp8pNFZsWCLNjhlm.jpg","release_date":"2018-02-09","title":"The Matrix","video":false,"vote_average":0.0,"vote_count":0}],"total_pages":1,"total_results":1}'
  recorded_at: Tue, 06 Feb 2024 20:55:31 GMT
recorded_with: VCR 6.2.0
